@font-face {
  font-family: 'iconfont';  /* project id 1374707 */
  src: url('//at.alicdn.com/t/font_1374707_oxlkhhqxh6.eot');
  src: url('//at.alicdn.com/t/font_1374707_oxlkhhqxh6.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1374707_oxlkhhqxh6.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1374707_oxlkhhqxh6.woff') format('woff'),
  url('//at.alicdn.com/t/font_1374707_oxlkhhqxh6.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1374707_oxlkhhqxh6.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshangxiajiantou:before {
  content: "\e655";
}

.iconshangxiajiantou-copy:before {
  content: "\e601";
}

